@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Roboto+Mono:wght@500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    }

::selection {
    background-color: pink;
    color: #fff;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 18px;
    line-height: 22px;
    background-color: #F5F5F5;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 62px;
    line-height: 82px;
    font-weight: 700;
}

h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
}

ul {
    list-style: none;
}

.container {
    width: 1160px;
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
}

.main-content {
    max-width: 700px;
    margin-right: 100px;
}

.time-measure {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.main-title {
    margin-bottom: 40px;
}

.label {
    margin-bottom: 20px;
}

.options-list {
    display: flex;
    margin-bottom: 15px;
}

.option-item {
    margin-right: 15px;
}

.filter-btn {
    background-color: #fff;
    border: none;
    border-radius: 95px;
    padding: 4px 20px;
    min-width: 110px;
    color: #585858;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
    transition: .2s;
}

.filter-btn:hover {
    box-shadow: 4px 4px #000000;
    transform: translate(-4px, -4px);
}

.filter-btn.focused {
    box-shadow: 4px 4px #000000;
    transform: translate(-4px, -4px);
}

.result-wrapper {
    display: flex;
    align-items: center;
}

.btn {
    background: #000000;
    border: none;
    border-radius: 95px;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 10px 60px;
    cursor: pointer;
    margin-right: 50px;
}

.input-result {
    width: 180px;
    padding-left: 12px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background: #E2E2E2;
    border: 1px solid #000000;
    box-shadow: inset 1.5px 1.5px 1px 1px rgba(0, 0, 0, 0.25);
}

.options,
.date-range {
    margin-bottom: 40px;
}

input[type="date"] {
    background: #FFFFFF;
    border-radius: 95px;
    border: 2px solid #FFFFFF;
    padding: 10px 30px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-right: 30px;
    outline: 0;
    cursor: pointer;
}

input[type="date"]:focus-visible {
    border-color: pink;
}

.history-data {
    border-collapse: collapse;
}

.history-data-header {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 8px;
    text-align: left;
}

.history-data-header:first-child {
    border-right: 1px solid #BFBFBF;
}

.history-data-header:last-child {
    padding-left: 20px;
}

.history-data-row {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 20px;
}

.history-data-date {
    font-weight: 400;
    padding-right: 20px;
    border-right: 1px solid #BFBFBF;
}

.history-data-duration {
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    padding-left: 20px;
}

@media (max-width: 1200px) {
    .container {
        max-width: 100%;
    }

    .wrapper {
        justify-content: space-between;
    }

    .main-content {
        margin: 0;
    }
}

@media (max-width: 900px) {
    .wrapper {
        padding-top: 45px;
        flex-direction: column;
    }

    .result-wrapper {
        margin-bottom: 40px;
    }
}


@media (max-width: 480px) {

    .main-content {
        max-width: 100%;
        margin-right: 0;
    }

    h1 {
        font-size: 46px;
        line-height: 52px;
    }

    h2 {
        font-size: 18px;
        line-height: 22px;
    }

    .options {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
    }

    .label {
        grid-column-start: 1;
        grid-column-end: 3;
        display: flex;
    }

    .options-list {
        flex-direction: column;
    }

    .filter-btn {
        margin-bottom: 10px;
        padding: 6px 24px;
        min-width: 130px;
        font-size: 18px;
        line-height: 20px;
    }

    .date-range {
        margin-bottom: 25px;
    }

    input[type="date"] {
        padding: 12px 36px;
        font-size: 20px;
        line-height: 24px;
    }

    input#start {
        margin-bottom: 15px;
    }

    .presets {
        flex-direction: row;
    }

    .result-wrapper {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .btn {
        margin: 0 0 20px;
        font-size: 22px;
        line-height: 26px;
        padding: 18px 74px;
    }

    .input-result {
        margin-bottom: 20px;
        width: 220px;
        padding-left: 12px;
        font-size: 30px;
        line-height: 36px;
    }

    .history-data-header {
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 10px;
    }
}